[run]
source = src
omit =
    src/ingestion/*
    src/modeling/*
    src/pipeline/*
    src/tracking/*
    src/serving/*
    */tests/*
    */scripts/*
    */__pycache__/*
    */migrations/*

[report]
show_missing = True
