{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "THE_ODDS_API_KEY": "",
    "API_BASKETBALL_KEY": "",
    "ACTION_NETWORK_USERNAME": "",
    "ACTION_NETWORK_PASSWORD": "",
    "TEAMS_BOT_ID": "",
    "TEAMS_BOT_PASSWORD": "",
    "TEAMS_TENANT_ID": "",
    "AZURE_OPENAI_API_KEY": "",
    "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING": "",
    "WEBSITE_CONTENTSHARE": ""
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*"
  }
}